//todo:参照latest做成resposive
#star-users
    .container.item
        include user
        include positive-thumb
        
    .container.item
        include user
        include negative-thumb
        include ../more/more