.row
    .col-md-12
        dl.user
            dt.inline-block
                a(href='#')
                    img.avator(src='/images/3.jpg')
            dd.username.inline-block
                span.label.label-info 宗杨
            dd.inline-block.text-muted  用户新上传的视频

