mixin dashboard()
    .dashboard
        .row 
            .col-md-6
                .panel.panel-success
                    .panel-heading
                        .row
                            .col-xs-3
                                i.fa.fa-user.fa-4x
                            .col-xs-9.text-right
                                .title 新能源
                                .text-muted 新能源汽车是指采用非常规的车用燃料作为动力来源
                    .panel-footer.text-right
                        small.text-muted  上次登录时间 11:11:00
                            
            .col-md-6
                .panel.panel-info
                    .panel-heading
                        .row
                            .col-xs-3
                                i.fa.fa-film.fa-4x
                            .col-xs-9.text-right
                                .title 16个 
                                .text-muted 琅琊榜、芈月传
                    .panel-footer.text-right
                        small.text-muted  最近上传时间 11:11:00