mixin filter()
    .filter
        .row.sort
            .col-md-12
                strong 排序:
                span.label.label-default 播放次数
                span.label.label-primary 评论数
                span.label.label-default 上传时间
        //- .row.tag
        //-     .col-md-12
        //-         strong 标签:
        //-         span.label.label-default 不好玩
        //-         span.label.label-primary 很好
        //-         span.label.label-primary 不错
        hr
        

