mixin search-input()
    .search-input
        .row
            .col-md-6.col-md-offset-3
                .input-group
                    input.form-control.typeahead.typeahead-video-search(type='text',placeholder="Search")
                    span.input-group-btn
                        button.btn.btn-primary(type="submit") 
                            i.fa.fa-search
        hr
