.navbar-wrapper
    nav.navbar.navbar-inverse.navbar-fixed-top
        include brand
        #navbar.navbar-collapse.collapse
            include menus
            include search
            include login