form.navbar-form.form-inline.navbar-left(role="search")
    .form-group.input-group
        input.form-control.typeahead.typeahead-video-search(type="text", placeholder="Search")
        span.input-group-btn
            button.btn.btn-default(type="submit") 
                i.fa.fa-search