.row
    .col-md-5.image
        img.img-responsive(src='/images/4.jpg')
    .col-md-7.text
        h2.text-primary
            | First featurette heading.
        span.text-muted 2012-0-3上传
        span.text-muted 13次点评
        span.text-muted 14次观看
        p.lead
            |  Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
        a.btn.btn-sm.btn-primary(href='#') 点击播放
   