ol.carousel-indicators
    li(data-target="#recommend-videos", data-slide-to="0")
    li.active(data-target="#recommend-videos", data-slide-to="1")
    li(data-target="#recommend-videos", data-slide-to="2")