extends ../../wigets/mychanel/mychanel
include ../../wigets/form/form
block mychanel
    #front-password
        .row
            .col-md-6.col-md-offset-3
                +form(
                    '密码修改',
                    [
                        {type:'password',name:'oldPassword',placeholder:'原密码'},
                        {type:'password',name:'password',placeholder:'密码'},
                        {type:'password',name:'repeatPassword',placeholder:'再次输入密码'}
                    ]
                )