


//- extends layout 
extends ../../wigets/layout/layout
block content
    //- include head
    //- include title
    //- include search-btn
    //- include img-list
    //- include page
    //- include modal
    //- include script
    i.fa.fa-internet-explorer.fa-5x
    






