doctype html
html
    head
        title= title
        link(rel='stylesheet',href='/bower/bootstrap/dist/css/bootstrap.min.css')
        link(rel='stylesheet',href='/client.css')
        script(src='/bower/jquery/dist/jquery.min.js')
        script(src='/bower/bootstrap/dist/js/bootstrap.min.js')
    body
        .container
            block content
   